{% extends "base.html.twig" %}

{% block title %}Gestion des biens{% endblock %}

{% block body %}
    
    <div class="container mt-4">
        <h1>Edition de la catégorie N° {{ categorie.id }}</h1>
        {{ include ('admin/categorie/common_categorie_form.html.twig', { form: form, button: 'Modifier'}) }}
    </div>
{% endblock %} 