{% extends "base.html.twig" %}

{% block title %}Bienvenue dans la page d'accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur Twig</h1>
    </div>
{% endblock %}