{% extends "base.html.twig" %}

{% block title %}Bienvenue dans le catalogue des biens{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Liste des biens immobiliers en vente</h1>
    </div>
{% endblock %}